body {
   background-color: #170E0B;
   color: #B19992;
}

.mess {
   border-bottom : 1px solid #170E0B;
   margin: 0.5em;
}

.fixed {
   position: fixed;
}

#text {
   font-family: monospace;
   width: 480px;
   height: 480px;
   left : 480px;
   top : 0px;
   background-color: #281814;
   overflow-y: scroll;
}

#room {
   background-image:url('ground.min.gif');
   background-repeat: repeat;
   width: 480px;
   height: 480px;
   left : 0px;
   top : 0px;
}

.trans {
-webkit-transition: all 800ms cubic-bezier(0.000, 0.790, 0.380, 1); /* older webkit */
-webkit-transition: all 800ms cubic-bezier(0.000, 0.790, 0.380, 1.025); 
   -moz-transition: all 800ms cubic-bezier(0.000, 0.790, 0.380, 1.025); 
     -o-transition: all 800ms cubic-bezier(0.000, 0.790, 0.380, 1.025); 
        transition: all 800ms cubic-bezier(0.000, 0.790, 0.380, 1.025); /* custom */

-webkit-transition-timing-function: cubic-bezier(0.000, 0.790, 0.380, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.000, 0.790, 0.380, 1.025); 
   -moz-transition-timing-function: cubic-bezier(0.000, 0.790, 0.380, 1.025); 
     -o-transition-timing-function: cubic-bezier(0.000, 0.790, 0.380, 1.025); 
        transition-timing-function: cubic-bezier(0.000, 0.790, 0.380, 1.025); /* custom */
}


.fliped {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
